[submodule "racingcar"]
path = racingcar
url = https://github.com/heesane/racingcar.git
branch = main
[submodule "baseball"]
path = baseball
url = https://github.com/heesane/baseball.git
branch = main

[submodule "lotto"]
url = https://github.com/heesane/lotto.git
